<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg= "#342F2E" divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/No Vacancy NV.jpg" alt="/img/No Vacancy NV.jpg" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Music</a></li>

		<li><a href="/values" class="pa3 no-underline db">Gallery</a></li>

		<li><a href="/post" class="pa3 no-underline db">Upcoming Events</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
